<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.1.xsd">
	
	<!-- 缓存动态词类型 -->
    <bean id="cacheDynaExecutorJobTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="cacheDynaExecutorJob"/>
        </property>
        <property name="targetMethod">
            <value>execute</value>
        </property>
         <property name="concurrent">
            <value>false</value>
        </property>
    </bean>

    <!-- 缓存动态词类型-定义触发时间 -->
    <bean id="cacheDynaExecutorJobSchedual" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="cacheDynaExecutorJobTask"/>
        </property>
        <property name="cronExpression">
            <value>1 0/1 * * * ?</value>
        </property>
    </bean>
	
	<!-- 缓存模糊查询 -->
    <bean id="cacheAwordExecutorJobTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="cacheAwordExecutorJob"/>
        </property>
        <property name="targetMethod">
            <value>execute</value>
        </property>
         <property name="concurrent">
            <value>false</value>
        </property>
    </bean>

    <!-- 缓存模糊查询-定义触发时间 -->
    <bean id="cacheAwordExecutorJobSchedual" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="cacheAwordExecutorJobTask"/>
        </property>
        <property name="cronExpression">
            <value>2 0/1 * * * ?</value>
        </property>
    </bean>
	
	<!-- 缓存句式 -->
    <bean id="cacheSentenceExecutorJobTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="cacheSentenceExecutorJob"/>
        </property>
        <property name="targetMethod">
            <value>execute</value>
        </property>
         <property name="concurrent">
            <value>false</value>
        </property>
    </bean>

    <!-- 缓存句式-定义触发时间 -->
    <bean id="cacheSentenceExecutorJobSchedual" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="cacheSentenceExecutorJobTask"/>
        </property>
        <property name="cronExpression">
            <value>3 0/3 * * * ?</value>
        </property>
    </bean>

	<!-- 缓存对话库 -->
    <bean id="personalAutoTalkExecutorJobTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="personalAutoTalkExecutorJob"/>
        </property>
        <property name="targetMethod">
            <value>execute</value>
        </property>
         <property name="concurrent">
            <value>false</value>
        </property>
    </bean>

    <!-- 缓存对话库-定义触发时间 -->
    <bean id="personalAutoTalkExecutorJobSchedual" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="personalAutoTalkExecutorJobTask"/>
        </property>
        <property name="cronExpression">
            <value>5 0/1 * * * ?</value>
        </property>
    </bean>
    
    <!-- 清除过期缓存 -->
    <bean id="cleanTimeOutDataExecutorJobTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="cleanTimeOutDataExecutorJob"/>
        </property>
        <property name="targetMethod">
            <value>execute</value>
        </property>
         <property name="concurrent">
            <value>false</value>
        </property>
    </bean>

    <!-- 清除过期缓存-定义触发时间 -->
    <bean id="cleanTimeOutDataExecutorJobSchedual" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="cleanTimeOutDataExecutorJobTask"/>
        </property>
        <property name="cronExpression">
            <value>50 0/1 * * * ?</value>
        </property>
    </bean>
    
    <!-- 缓存终端对话类型 -->
    <bean id="cacheTerminalDialogTypeExecutorJobTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="cacheTerminalDialogTypeExecutorJob"/>
        </property>
        <property name="targetMethod">
            <value>execute</value>
        </property>
         <property name="concurrent">
            <value>false</value>
        </property>
    </bean>

    <!-- 缓存终端对话类型-定义触发时间 -->
    <bean id="cacheTerminalDialogTypeExecutorJobSchedual" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="cacheTerminalDialogTypeExecutorJobTask"/>
        </property>
        <property name="cronExpression">
            <value>0 0/2 * * * ?</value>
        </property>
    </bean>
    
    <!-- 缓存终端异常应答 -->
    <bean id="cacheDialogExpExecutorJobTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="cacheDialogExpExecutorJob"/>
        </property>
        <property name="targetMethod">
            <value>execute</value>
        </property>
         <property name="concurrent">
            <value>false</value>
        </property>
    </bean>

    <!-- 缓存终端异常应答-定义触发时间 -->
    <bean id="cacheDialogExpExecutorJobSchedual" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="cacheDialogExpExecutorJobTask"/>
        </property>
        <property name="cronExpression">
            <value>0 0/2 * * * ?</value>
        </property>
    </bean>

	<!-- 调度管理 如果将lazy-init='false'那么容器启动就会执行调度程序 -->
	<bean id="startQuertz" lazy-init="true" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="personalAutoTalkExecutorJobSchedual" />
				<ref bean="cacheTerminalDialogTypeExecutorJobSchedual" />
				<ref bean="cacheDialogExpExecutorJobSchedual" />
				<ref bean="cleanTimeOutDataExecutorJobSchedual" />
				<ref bean="cacheSentenceExecutorJobSchedual" />
				<ref bean="cacheAwordExecutorJobSchedual" />
				<ref bean="cacheDynaExecutorJobSchedual" />
			</list>
		</property>
	</bean>

</beans>